@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 style="text-align:center">PI WebAPI Test Site</h2>
    <br /><br />
    <h4 style="text-align:center">Select an option from above.</h4>
</div>

